@import "tailwindcss";

:root {
  --background: #171717;
  --foreground: #ffffff;
  --main: linear-gradient(106.2deg, #963488 -12.33%, #FC6F32 50.28%, #FF4A59 114.17%);
  --font-inter: 'Inter', sans-serif;
  --font-host-grotesk: 'Host Grotesk', sans-serif;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-host-grotesk);
  --background-image-main: var(--main);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
